.containerRegular {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  position: relative;
  margin-bottom: 50px;
}

.yellowBlur {
  position: absolute;
  top: -15vh;
  z-index: -2;
  width: 85%;
  height: 30vh;
  background-image: radial-gradient(closest-side, rgb(51, 47, 0), black);
}

.yellowBlurTwo {
  position: absolute;
  bottom: -15vh;
  z-index: -2;
  width: 85%;
  height: 25vh;
  background-image: radial-gradient(closest-side, rgb(51, 47, 0), black);
}

.formContainer {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.formContainer .question {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.formContainer .question .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer .question .title p {
  font-size: 1rem;
  color: grey;
  letter-spacing: 1px;
}

.formContainer .question .title h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "KerbyFont", sans-serif;
  letter-spacing: 2px;
}

.containerRegular .contBtns {
  width: 65%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  bottom: 10vh;
}

.containerRegular .contBtns .btnLeft,
.containerRegular .contBtns .btnRight {
  border: 1px solid yellow;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRegular .contBtns .btnLeft .icon,
.containerRegular .contBtns .btnRight .icon {
  font-size: 1.5rem;
}

.containerRegular .contBtns .btnLeft .icon {
  transform: rotate(180deg);
}

.containerRegular .contBtns .btnLeft:hover,
.containerRegular .contBtns .btnRight:hover {
  background-color: yellow;
  color: black;
}

.formContainer .question .contInputs {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.formContainer .question .contInputs .boxInput {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.formContainer .question .contInputs .boxInput label {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.formContainer .question .contInputs .input {
  background-color: #212121;
  border: 1px solid #848484;
  height: 45px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  padding-left: 10px;
}

.formContainer .question .contInputs .input:hover {
  border: 1px solid yellow;
}

.formContainer .question .contInputs .input::placeholder {
  color: grey;
  font-size: 0.9rem;
}

.progressContainer {
  width: 50%;
  height: 2px;
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: yellow; /* color de la barra de progreso */
  transition: width 0.3s ease-in-out;
}

.btnFin {
  font-size: 1rem;
  color: black;
  border: 1px solid yellow;
  background-color: yellow;
  padding: 0px 10px 0px 25px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btnFin .icon {
  font-size: 2.3rem;
  color: black;
}

.btnFin:hover {
  background-color: rgb(234, 234, 0);
}

.formContainer .question .contInputs .boxInputSelect {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #212121;
  border: 1px solid #848484;
  width: 50%;
  height: 80px;
  border-radius: 10px;
  gap: 15px;
  cursor: pointer;
}

.formContainer .question .contInputs .boxInputSelect p {
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  align-content: center;
}

.formContainer .question .contInputs .boxInputSelect:hover {
  border: 1px solid yellow;
}

.formContainer .question .contInputs .boxInputRadio {
  border: 1px solid transparent;
  position: relative;
  width: 35%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  border-radius: 12px;
}

.formContainer .question .contInputs .boxInputRadio p {
  z-index: 2;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.1;
}

.formContainer .question .contInputs .boxInputRadio .input {
  z-index: 2;
  width: 17px;
  accent-color: yellow;
}

.formContainer .question .contInputs .boxInputRadio span {
  width: 100%;
  height: 35%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.618));
  z-index: 1;
  bottom: 0px;
  border-radius: 0px 0px 12px 12px;
}

.formContainer .question .contInputs .boxInputRadio .img {
  object-fit: cover;
  border-radius: 12px;
}

.formContainer .question .contInputs .boxInputRadio:hover {
  border: 1px solid yellow;
}

.formContainer .question .contInputsVcl {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formContainer .question .contInputsVcl .boxInputHzl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #212121;
  border: 1px solid #848484;
  width: 100%;
  height: 70px;
  border-radius: 10px;
}

.formContainer .question .contInputsVcl .boxInputHzl:hover {
  border: 1px solid yellow;
}

.formContainer .question .contInputsVcl .boxInputHzl p {
  font-size: 1.1rem;
  font-weight: 600;
}

.formContainer .question .contInputsVcl .boxInputHzl .input {
  width: 20px;
  accent-color: yellow;
}

.formContainer .question .contInputs .boxConditional {
  width: 190px;
  height: 70px;
  background-color: #212121;
  border: 1px solid #848484;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.formContainer .question .contInputs .boxConditional:hover {
  border: 1px solid yellow;
}

.formContainer .question .contInputs .allExtras{
  position: absolute;
  bottom: -110px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.formContainer .question .contInputs .inputExtraTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.formContainer .question .contInputs .inputExtraTwo p {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.formContainer .question .contInputs .inputExtraTwo button {
  position: absolute;
  right: -50px;
  bottom: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  background-color: black;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
}

.formContainer .question .contInputs .inputExtraTwo button:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
}

.formContainer .question .contInputs .inputExtra {
  position: absolute;
  bottom: -120px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.formContainer .question .contInputs .inputExtra p {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.formContainer .question .contInputs .inputExtra button {
  position: absolute;
  right: -50px;
  bottom: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  background-color: black;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
}

.formContainer .question .contInputs .inputExtra button:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
}

.formContainer .question .contPrices {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.formContainer .question .contPrices .boxPrice {
  width: 35%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.formContainer .question .contPrices .boxPrice .boxIcon{
  height: 25%;
  align-content: end;
}

.formContainer .question .contPrices .titlePlan {
  background-color: #212121;
  border: 1px solid #848484;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 70%;
  border-radius: 15px;
  cursor: pointer;
}

.formContainer .question .contPrices .titlePlan:hover{
  border: 1px solid yellow;
}

.formContainer .question .contPrices .titlePlan h3 {
  font-family: "KerbyFont", sans-serif;
  font-size: 4.7rem;
  line-height: 0.8;
  position: relative;
}

.formContainer .question .contPrices .titlePlan h3 span{
  font-size: 2.8rem;
  position: absolute;
  top: 0px;
  right: -20px;
}

.formContainer .question .contPrices .titlePlan h2 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "KerbyFont", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
}

.formContainer .question .contPrices .titlePlan h2 span{
  color: yellow;
}

.formContainer .question .contPrices .titlePlan .inputPlan {
  width: 20px;
  accent-color: yellow;
}



@media (max-width: 1030px){
  .formContainer .question .title p {
    font-size: 1.1rem;
  }
  
  .formContainer .question .title h2 {
    font-size: 6vw;
    border: 1px solid red;
  }

  .formContainer .question .contInputs {
    width: 65%;
    border: 1px solid red;
  }
 
  
  
}

@media (max-width: 650px){

  .formContainer {
    border: 1px solid red;
  }

  .formContainer .question {
    gap: 30px;
    border: 1px solid red;
  }

  .formContainer .question .title {
    width: 100%;
    border: 1px solid red;
    margin-top: 13vh;
    margin-bottom: 20px;
  }

  .formContainer .question .title p {
    font-size: 1.1rem;
  }
  
  .formContainer .question .title h2 {
    font-size: 9vw;
    width: 80%;
    text-align: center;
    line-height: 1.1;
  }

  .formContainer .question .contInputs {
    width: 70%;
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  

  .formContainer .question .contInputs .boxInput {
    width: 100%;
  }

  .containerRegular .contBtns {
    width: 80%;
    gap: 20px;
    bottom: 5vh;
    border: 1px solid red;
  }

  .formContainer .question .contInputs .boxInputSelect {
    width: 100%;
  }

  .formContainer .question .contInputs .boxInputRadio {
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
}