.header{
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    z-index: 1;
}

.logoKerby{
    width: 170px;
}

.btnMenuOn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid yellow;
    background-color: black;
    cursor: pointer;
}

.btnMenuOn .icon{
    font-size: 1.3rem;
    color: yellow;
}

.btnMenuOn:hover{
    background-color: yellow;

    .icon{
        color: black;
    }
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border: 1px solid yellow;
    height: 50px;
    border-radius: 50px;
    padding-left: 25px;
}

.nav a{
    font-size: 0.8rem;
    text-decoration: none;
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.nav button .icon{
    font-size: 1.5rem;
}